@import "tailwindcss";

@theme {
    --color -*: initial;
    --color-white: #FFF;
    --color-gray-extremities: #2A2727;
    --color-black-initial: #070606;
    --color-black: #000000;

    --font-sans: "Montserrat", sans-serif;

    --shadow-sm: 0px 4px 8px 0px rgba(54,23, 45, 0.05);
}